$lightGray: #dedede;
$gray: #c2c2c2;
$black: #000000;
$mp10: 10px;

$baseFontSize: 14px;
$fontFamily: sans-serif;

*, html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $fontFamily;
    font-size: $baseFontSize;
}

#emoji {
    border: 1px solid $gray;
    background-color: $lightGray;
    padding: $mp10;
    margin: $mp10;
    font-size: 30px;
    text-shadow: 0px 1px $black;
    width: fit-content;
}

img {
    width: 75px;
    height: auto;
    margin: $mp10;
}

#text {
    padding: $mp10;
    margin: $mp10;
    text-align: justify;
}